<a href="https://colab.research.google.com/github/arasira/arasira/blob/main/ternory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [3,5,23,27,28,35,42,56,58,64,64]
odds = 0
evens = 0
for i in numbers:
  if i % 2 == 0:
    evens +=1
  else:
    odds +=1
print("odd numbers:",odds)
print("even numbers:",evens)

odd numbers: 5
even numbers: 6

In [ ]:
for i in range(1,9):
  print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888

In [ ]:
sum_num = 0
for i in range(1,75):
  sum_num += i
print(sum_num)

2775

In [ ]:
### NESTED FOR LOOP

In [ ]:
who = ['I am' , 'You are']
mood = [' happy',' confident']
for i in who:
  for ii in mood:
    print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
names =["Susan","Tom","Edward"]
moods= [" happy"," sad"]
for i in names:
  for ii in moods:
    print(i + " is" +  ii)

Susan is happy
Susan is sad
Tom is happy
Tom is sad
Edward is happy
Edward is sad

In [20]:
#unpacking
tuple(range(1,8))

(1, 2, 3, 4, 5, 6, 7)

In [21]:
(monday,tuesday,wednesday,thursday,friday,saturday,sunday)=tuple(range(1,8))

In [22]:
monday

1

In [24]:
# place holder _   bu hafizada yer tutmaz
a,_,b,_ = (10,20,30,40)
a,b

(10, 30)

In [25]:
# burada * kalan sayilarin liste icinde cikmasina ve birden fazla eleman atamaya yarar.
x,y,*z = (11,22,33,44,55,66)

In [26]:
x

11

In [27]:
z

[33, 44, 55, 66]

In [28]:
# *_ isareti ile biden fazla sayiya atama yapip hafizada yer vermez
x,y,*_ = (11,22,33,44,55,66)

In [29]:
# *z arada elemanlarin degerini aldirir.
x,y,*z,t = (11,22,33,44,55,66,77)

In [30]:
x,y,*_,t = (11,22,33,44,55,66,77)

### LIST COMPREHENSION

In [37]:
A = [1,2,3]
B = [4,5,6]
sayilar = [(a,b) for a in A for b in B]
print(sayilar)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [38]:
# [expression for item in iterable]

In [39]:
# for item in iterable:
  # expression

In [41]:
sayilar = []
for i in range(5):
  sayilar.append(i)
sayilar

[0, 1, 2, 3, 4]

In [40]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [42]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [43]:
[[i**2] for i in range(1,7]  # her sonucun [] icinde olmasi icin exprensini [] almak yeterli

[[1], [4], [9], [16], [25]]

In [5]:
my_list = [1,2,3,4,5,6,7]
new_list = []
for i in my_list:
  if i % 2 != 0:
    new_list.append(i ** 2)

In [47]:
new_list

[1, 9, 25, 49]

In [50]:
[i**2 for i in my_list if i % 2 != 0 ] # tek satirda kod yazma TERNARY CONDITION olarak isimlendirilir.

[1, 9, 25, 49]

In [1]:
#ternary example
condition = True
if condition:
  a= 1
else:
  a = 0
print(a)

1

In [3]:
1 if condition else 0  # ternary tek blockta cod yazimi(if ternary)

1

In [6]:
[i for i in my_list if i % 2 ]

[1, 3, 5, 7]